{{ define "content" }}
{{ range . }}
<div class="article">
  <a class="article__title" href="/detail">{{ .Title }}</a>
  <div class="article__author">{{ .Name }} |{{ .CreatedAt }}</div>
  <div class="article__tag"><img src="/static/icon/ei-tag.jpeg" width="12" height="12">
    {{range .Tag}} {{.}} {{end}}
  </div>
  <div class="article__category"><img src="/static/icon/ei-folder.jpeg" width="12" height="12"> {{ .Category }}</div>
  <div class="article__img-text">
    <img class="eye-catch" src="/static/icon/ei-tag.jpeg">
    <div class="text">{{ .Text }}</div>
  </div>
</div>
{{ end }}
{{ end }}
