{{ define "base" }}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Todoapp</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/te.css" rel="stylesheet">
</head>
  <body>
    <header class="header">
      <h1><a class="header__main-title" href="/">Todo app</a></h1>
    </header>
    <main class="main">
      {{ template "content" . }}
    </main>
  </body>
</html>
{{ end }}