{{ define "content" }}
<form class="todo" method="POST" action="/todo"><!--todo-->
    <div class="todo__content">内容: <input type="text" size="50" name="title"></div>
    <div class="todo__status">状態: 
      <select name="status">
        <option value="none">未実施</option>
        <option value="ing">実施</option>
        <option value="done">終了</option>
      </select>
    </div>
    <input class="todo__submit" type="submit" value="submit">
</form>
{{ range . }}
<div class="display">
  <div class="display__content">
    内容:{{.Title}}、状態:{{.Status}}、日付:{{.Date}}、Id:{{.Id}}
    <a class="display__edit" href="/edit/{{.Id}}">編集</a>
    <a class="display__delete" href="/delete/{{.Id}}">削除</a>
  </div>
</div>
{{ end }}
{{ end }}