
/*共通設定*/
html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
}


/*header*/
.page-title a {
    color: white;
}

.page-title {
    background-color: #041E32;
    /*width: 100%;*/
    margin: 0px;
    padding: 20px;
}