table{
   width: 80%;
}
th{
   background-color: mediumaquamarine;
   border: white 2px solid;
   text-align: center;
}
td{
   background-color: lemonchiffon;
   border: white 1px solid;
   text-align: center;
}